html {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(to bottom, #66ccff 0%, #ffffff 100%);
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex > div {
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}
.add-margin > div {
  margin-left: 1rem;
}
.align-center {
  align-self: center;
}

.error {
  color: red;
}