.flex {
  display: flex;
  flex-direction: column;
}

.flex > div {
  padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}
.add-margin > div {
  margin-left: 1rem;
}
.align-center {
  align-self: center;
}